:root {
    --bg: 255, 255, 255;
    --text: 0, 0, 0;
    --accent: 235, 199, 105;
    --card-bg: 0, 0, 0;
}

@media (prefers-color-scheme: dark) { 
    :root {
        --bg: 28, 33, 54;
        --text: 255, 255, 255;
        --accent: 67, 35, 42;
        --card-bg: 255, 255, 255;
    }
}

.material-symbol {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    position: relative;
    bottom: 1.8px;

    user-select: none;
    cursor: pointer; 

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

html, body {
    max-width: 100%;
}

body {
    font-family: Helvetica;
    margin: 0;
    background-color: rgb(var(--bg));
    color: rgb(var(--text));
}

h1, h2, h3, p, ol, ul {
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 40px;
}

img {
    display: block;
}

hr {
    width: 100%;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    visibility: hidden;

    white-space: nowrap;
    transform: translateX(-50%);
    position: absolute;
    bottom: 100%;
    left: 50%;

    padding: 6px;
    border-radius: 6px;
    backdrop-filter: blur(12px) saturate(60%);
    background-color: rgb(var(--bg));
    border: 1px solid rgba(var(--card-bg), 0.2);
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

#navbar {
    top: 0;
    z-index: 100;
    position: sticky;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 40px;
    padding: 0px 30px;
    gap: 20px;
    height: 50px;
    background-color: rgb(var(--accent));
}

#navbar a {
    text-decoration: none;
    color: rgb(var(--text));
    font-weight: bold;
}

.flex-space {
    flex: 1 1 0;
}

#profile-picture {
    border-radius: 50%;
}

#clubs-list-container {
    display: grid;
    /** https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ **/
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 85%;
    margin: 0 auto;
}

#clubs-list-title {
    text-align: center;
    grid-column: 1 / -1;
}

.clubs-list-header {
    grid-column: 1 / -1;
    margin-top: 20px;
}

.club-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(12px) saturate(60%);
    border: 1px solid rgba(var(--card-bg), 0.2);
    background-color: rgba(var(--card-bg), 0.05);
}

.club-card a {
    color: rgb(var(--text));
}

/** https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Realizing_common_layouts_using_grids **/
#club-container {
    display: grid;
    align-items: start;
    gap: 30px;
    grid-template-areas:
        "header"
        "sidebar"
        "content";
    width: 85%;
    margin: 0 auto;
}

@media (min-width: 800px) {
  #club-container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "header  header"
      "sidebar content";
  }
}

#club-header {
    grid-area: header;
}

#club-sidebar {
    grid-area: sidebar;
    
    display: flex;
    flex-direction: column;
    align-items: justify;
    gap: 10px;

    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(12px) saturate(60%);
    border: 1px solid rgba(var(--card-bg), 0.2);
    background-color: rgba(var(--card-bg), 0.05);
}

.join-club-button {
    align-self: flex-end;
    margin-top: auto;
}

#import-user-message {
    display: none;
}

#import-user-text {
    display: none;
    resize: none;
    min-height: 80px;
}

#club-user-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#club-user-list li {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 2px 4px;
    margin: -5px -5px;

    border: 1px solid transparent;
    border-radius: 8px;
}

#club-user-list li:hover {
    backdrop-filter: blur(12px) saturate(60%);
    border: 1px solid rgba(var(--card-bg), 0.2);
    background-color: rgba(var(--card-bg), 0.05);
}

#club-user-list li p {
    display: inline;
    position: relative;
}

#club-user-list li .membership-action {
    visibility: hidden;
}

#club-user-list li .membership-action:hover .material-symbol {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

#club-meetings-list {
    grid-area: content;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.meeting-card {
    display: flex;
    flex-direction: column;
    align-items: justify;
    gap: 10px;

    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(12px) saturate(60%);
    border: 1px solid rgba(var(--card-bg), 0.2);
    background-color: rgba(var(--card-bg), 0.05);  
}

#new-meeting-location input {
    width: 5vw
}

.meeting-info {
    display: flex;
    flex-direction: horizontal;
    align-items: justify;
    gap: 20px;
}

.meeting-info div {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    gap: 3px;
}

@media (max-width: 1200px) {
    .meeting-info-hide {
        display: none;
    }
}

#meetings-list {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
