html, body {
    max-width: 100%;
}

body {
    font-family: Helvetica;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

/** https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@media/prefers-color-scheme **/
@media (prefers-color-scheme: dark) { 
    body.adaptive {
        color: rgb(255, 255, 255);
        background-color: rgb(58, 80, 107);
    }
}

h1, h2, h3, p {
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 40px;
}

img {
    display: block;
}

hr {
    width: 100%;
}

#navbar {
    top: 0;
    z-index: 100;
    position: sticky;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 40px;
    padding: 5px 20px;
    gap: 20px;
    height: 50px;
    background-color: rgb(91, 0, 25);
    backdrop-filter: blur(25px) saturate(80%);
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.navbar a:hover {
    color: black;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 5px;
}

.flex-space {
    flex: 1 1 0;
}

#profile-picture {
    border-radius: 50%;
}

#clubs-list-container {
    display: grid;
    /** https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ **/
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 80vw;
    margin: 0 auto;
}

.clubs-list-header {
    grid-column: 1 / -1;
}

.club-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(12px) saturate(60%);
    border: 1px solid rgb(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0, 0.05);
}

.club-card a {
    color: rgb(255, 255, 255)
}

/** https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Realizing_common_layouts_using_grids **/
#club-container {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "header"
        "sidebar"
        "content";
    width: 80vw;
    margin: 0 auto;
}

@media (min-width: 800px) {
  #club-container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "header  header"
      "sidebar content";
  }
}

#club-header {
    grid-area: header;
}

#club-sidebar {
    grid-area: sidebar;
    
    display: flex;
    flex-direction: column;
    align-items: justify;
    gap: 10px;

    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(12px) saturate(60%);
    border: 1px solid rgb(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0, 0.05);  
}

.join-club-button {
    align-self: flex-end;
    margin-top: auto;
}

#import-user-message {
    display: none;
}

#import-user-text {
    display: none;
}

#club-meetings-list {
    grid-area: content;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.meeting-card {
    display: flex;
    flex-direction: column;
    align-items: justify;
    gap: 10px;

    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(12px) saturate(60%);
    border: 1px solid rgb(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0, 0.05);    
}

.meeting-info {
    display: flex;
    flex-direction: horizontal;
    align-items: justify;
    gap: 20px;
}

.meeting-info-detail {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    gap: 3px;
}

.meeting-info-detail p {
    position: relative;
    bottom: -2px;
}

.meeting-info-detail div {
    position: relative;
    bottom: -2px;
}

@media (max-width: 1200px) {
    .meeting-info-hide {
        display: none;
    }
}