<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>
            {% block title %} {% endblock %}
        </title>
        <link rel = "stylesheet" href = "static/style.css">
        {# https://developers.google.com/fonts/docs/material_symbols #}
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"> 
        <script src = "static/functions.js"></script>
        <link rel = "icon" href = "static/favicon.png">
    </head>

    <body class = "adaptive">
        <nav id = "navbar">
            <a href = ".">
                <img src = "static/favicon.png" height = 30 alt = "Lakeside student government logo.">
            </a>
            <div class = "flex-space"></div>
            {% if g.user.authenticated %}
                <a href = "logout">Logout</a>
                <a href = "." class = "nav-right">
                    <img id = "profile-picture" src = "{{g.user.picture}}" height = 30 alt = "User image.">
                </a>   
            {% else %}
                <a href = "login">Login</a>
            {% endif %}
        </nav> 
        {% block body %} {% endblock %}
    </body>
</html>