{% extends "base.html.j2" %}

{% block title %}
    {{club.name}}
{% endblock %}

{% block body %}
    <div id = "club-container">
        <header id = "club-header">
            <h1>{{club.name}}</h1>
        </header>

        <aside id = "club-sidebar">
            <p>{{club.description}}</p>
            <hr>
            <h2>Leaders</h2>
            <ul id = "club-leader-list" class = "club-user-list" data-club-id = "{{club.id}}" data-authenticated = "{{g.user.authenticated}}" data-current-user-id = "{{g.user.user_id}}">
                {% for leader in club.leaders %}
                    <li class = "membership-entry">
                        <div class = "user-name">{{macros.display_name(leader)}}</div>
                        <div class = "flex-space"></div>
                        {% if club.membership_type == 1 %}
                            {% if leader.id != g.user.user_id %}
                                <span class = "membership-action material-symbol" data-action = "demote-leader" data-member-id = "{{leader.id}}" data-tooltip = "Demote Leader">remove_moderator</span>
                            {% endif %}
                        {% endif %}
                        <span class = "membership-action action-hidden material-symbol" data-action = "add-leader" data-member-id = "{{leader.id}}" data-tooltip = "Add Leader">add_moderator</span>
                        <span class = "membership-action action-hidden material-symbol" data-action = "kick-member" data-member-id = "{{leader.id}}" data-tooltip = "Kick Member">person_remove</span>
                        {% if g.user.authenticated %}
                            <span class = "membership-action material-symbol" data-action = "copy-email" data-email = "{{leader.email}}" data-tooltip = "{{leader.email}}">mail</span>
                        {% endif %}
                    </li>
                {% endfor %}  
            </ul>
            <hr>
            {% if club.membership_type == 1 %}
                <div id = "import-user-message"></div>
                <textarea id = "import-user-text" placeholder = "Please paste in your club's mailing list with @lakesideschool.org included. (This can be done by copying the To: line on past emails from Outlook.)"></textarea>
                <button id = "import-user-button" data-club-id = "{{club.id}}">Import Members</button>
                <div>
                    <span>Send Emails</span>
                    <span class = "material-symbol" data-action = "send-email" data-club-id = "{{club.id}}" data-tooltip = "Compose in Outlook">mail</span>
                    <span class = "material-symbol" data-action = "copy-users" data-club-id = "{{club.id}}" data-tooltip = "Copy Emails">content_copy</span>
                </div>
                <hr>
                <h2>Members</h2>
                <ul id = "club-member-list" class = "club-user-list" data-club-id = "{{club.id}}" data-authenticated = "{{g.user.authenticated}}" data-current-user-id = "{{g.user.user_id}}">
                    <template>
                        <li class = "membership-entry">
                            <div class = "user-name"></div>
                            <div class = "flex-space"></div>
                            <span class = "membership-action action-hidden material-symbol" data-action = "demote-leader" data-tooltip = "Demote Leader">remove_moderator</span>
                            <span class = "membership-action material-symbol" data-action = "add-leader" data-tooltip = "Add Leader">add_moderator</span>
                            <span class = "membership-action material-symbol" data-action = "kick-member" data-tooltip = "Kick Member">person_remove</span>
                            <span class = "membership-action material-symbol" data-action = "copy-email" data-tooltip = "">mail</span>
                        </li>
                    </template>
                    {% for member in club.members %}
                        <li class = "membership-entry">
                            <div class = "user-name">{{macros.display_name(member)}}</div>
                            <div class = "flex-space"></div>
                            <span class = "membership-action action-hidden material-symbol" data-action = "demote-leader" data-member-id = "{{member.id}}" data-tooltip = "Demote Leader">remove_moderator</span>
                            <span class = "membership-action material-symbol" data-action = "add-leader" data-member-id = "{{member.id}}" data-tooltip = "Add Leader">add_moderator</span>
                            <span class = "membership-action material-symbol" data-action = "kick-member" data-member-id = "{{member.id}}" data-tooltip = "Kick Member">person_remove</span>
                            <span class = "membership-action material-symbol" data-action = "copy-email" data-email = "{{member.email}}" data-tooltip = "{{member.email}}">mail</span>
                        </li>
                    {% endfor %}
                </ul>
            {% elif club.membership_type == 0 %}
                <button class = "leave-club-button" data-club-id = "{{club.id}}">Leave Club</button>
            {% elif club.membership_type == None %}
                <button class = "join-club-button" data-club-id = "{{club.id}}" data-authenticated = "{{g.user.authenticated}}">Join Club!</button>
            {% endif %}
        </aside>

        <div id = "club-meetings-list">
            {% if club.membership_type == 1 %}
                <form class = "meeting-card" id = "new-meeting-card" data-club-id = "{{club.id}}">
                    <input type = "text" name = "title" placeholder = "Title" required>
                    <textarea name = "description" placeholder = "Description: supports Markdown! Try *italics*, **bold**, ~~strikethrough~~, and !(image-links.com)." required></textarea>
                    <hr>
                    <div class = "card-info">
                        <div>
                            <span class = "material-symbol">event</span>
                            <input type = "datetime-local" name = "start-time" required> - 
                            <input type = "datetime-local" name = "end-time" required>
                        </div>
                        <div id = "new-meeting-location">
                            <span class = "material-symbol">location_on</span>
                            <input type = "text" name = "location" placeholder = "Location" required>
                        </div>
                        <div class = "flex-space"></div>
                        <input type = "submit" value = "Create Meeting">
                    </div>
                </form>
            {% endif %}
            <template>
                <div class = "meeting-card">
                    <h2></h2>
                    <div class = "meeting-description"></div>
                    <hr>
                    <div class = "card-info">
                        <div>
                            <span class = "material-symbol">event</span>
                            <p></p>
                        </div>
                        <div>
                            <span class = "material-symbol">schedule</span>
                            <p></p>
                        </div>
                        <div>
                            <span class = "material-symbol">location_on</span>
                            <p></p>
                        </div>
                        <div>
                            <span class = "material-symbol">person</span>
                            <div>
                                <span>0</span> <span class = "card-info-hide">attendees</span>
                            </div>
                        </div>
                        <div class = "flex-space"></div>
                        <button class = "join-meeting-button" data-meeting-id = "">Join Meeting</button>
                    </div>
                </div>
            </template>
            {% for meeting in meetings %}
                <div class = "meeting-card">
                    <h2>{{meeting.title|e}}</h2>
                    <div class = "meeting-description">{{meeting.description}}</div>
                    <hr>
                    <div class = "card-info">
                        <div class = "card-info-left">
                            <div>
                                <span class = "material-symbol">event</span>
                                <p>{{meeting.start_time.strftime("%A, %b %-d")}}</p>
                            </div>
                            <div>
                                <span class = "material-symbol">schedule</span>
                                <p>{{meeting.start_time.strftime("%-I:%M")}} - {{meeting.end_time.strftime("%-I:%M")}}</p>
                            </div>
                            <div>
                                <span class = "material-symbol">location_on</span>
                                <p>{{meeting.location}}</p>
                            </div>
                            <div>
                                <span class = "material-symbol">person</span>
                                <div>
                                    <span>{{meeting.members|length}}</span> <span class = "card-info-hide">attendee{{'' if meeting.members|length == 1 else 's'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class = "flex-space"></div>
                        {% if meeting.is_member %}
                            <button class = "leave-meeting-button" data-meeting-id = "{{meeting.id}}">Leave Meeting</button>
                        {% else %}
                            <button class = "join-meeting-button" data-meeting-id = "{{meeting.id}}">Join Meeting</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
