{% extends "base.html.j2" %}

{% block title %}
    Lakeside Clubs
{% endblock %}

{% block body %}
    <div id = "clubs-list-container">
        <h1 id = "clubs-list-title">Lakeside Clubs</h1>

        {% set ns = namespace(last_membership_type = None) %}
        {% for club in clubs %}
            {% if ns.last_membership_type != club.membership_type %}
                {% if club.membership_type == 1 %}
                    <h2 class = "clubs-list-header">Clubs You Lead</h2>
                {% elif club.membership_type == 0 %}
                    <h2 class = "clubs-list-header">Clubs You've Joined</h2>
                {% else %}
                    <h2 class = "clubs-list-header">Other Clubs</h2>
                {% endif %}
            {% endif %}
            {% set ns.last_membership_type = club.membership_type %}

            <div class = "club-card">
                <a href = "club?id={{club.id}}">
                    <h2>{{club.name}}</h2>
                </a>
                <p>{{club.description}}</p>
                <div class = "flex-space"></div>
                <hr>
                <div class = "card-info">
                    <div class = "card-info-left">
                        <div>
                            <span class = "material-symbol">event</span>
                            <p>{{club.time}}</p>
                        </div>
                        <div>
                            <span class = "material-symbol">location_on</span>
                            <p>{{club.location}}</p>
                        </div>
                    </div>
                    <div class = "flex-space"></div>
                    {% if club.membership_type == None %}
                        <button data-action = "join-club" data-club-id = "{{club.id}}" data-authenticated = "{{g.user.authenticated}}">Join club!</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
