{% extends "base.html.j2" %}

{% block title %}
    Lakeside Clubs
{% endblock %}

{% block body %}
    <div id = "clubs-list-container">
        <h1 id = "clubs-list-title">Lakeside Clubs</h1>

        {% if lead_order %}
            <h2 class = "clubs-list-header">Clubs You Lead</h2>
            {% for club_id in lead_order %}
                {% set club = clubs[club_id] %}
                {{ macros.render_club_card(club) }}
            {% endfor %}
        {% endif %}

        {% if joined_order %}
            <h2 class = "clubs-list-header">Clubs You've Joined</h2>
            {% for club_id in joined_order %}
                {% set club = clubs[club_id] %}
                {{ macros.render_club_card(club) }}
            {% endfor %}
        {% endif %}

        {% if other_order %}
            {% if g.user.authenticated %}
                <h2 class = "clubs-list-header">Other Clubs</h2>
            {% endif %}
            {% for club_id in other_order %}
                {% set club = clubs[club_id] %}
                {{ macros.render_club_card(club) }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
