{% macro pokemon_description(pokemon) %}
    <p>
        Added to the Pokémon games in Generation {{pokemon.generation_id}}, {{pokemon.name}} is the {{pokemon.genus}}, and is 
        {% if not pokemon.type2_id %}
            a {{pokemon.type1_name}}-type Pokémon!
        {% else %}
            both a {{pokemon.type1_name}}-type and a {{pokemon.type2_name}}-type Pokémon!
        {% endif %}
        {% if pokemon.is_legendary %}
            In fact, this Pokémon is also a Legendary Pokémon!
        {% elif pokemon.is_mythical %}
            In fact, this Pokémon is also a Mythical Pokémon!
        {% elif pokemon.is_baby %}
            In fact, this Pokémon is also a baby Pokémon!
        {% endif %}
        {% if pokemon.evolves_from_species_id and pokemon.evolution_ids[0] %}   
            {{pokemon.name}} evolves from 
            <a href = "pokemon?id={{pokemon.evolves_from_species_id}}">{{pokemon.evolves_from_name}}</a> and evolves into
        {% elif pokemon.evolves_from_species_id %}
            {{pokemon.name}} evolves from 
            <a href = "pokemon?id={{pokemon.evolves_from_species_id}}">{{pokemon.evolves_from_name}}</a>.
        {% elif pokemon.evolution_ids[0] %}
            {{pokemon.name}} evolves into
        {% endif %}
        {% if pokemon.evolution_ids[0] %}
            {% if pokemon.evolution_ids|length == 1 %}
                <a href = "pokemon?id={{pokemon.evolution_ids[0]}}">{{pokemon.evolution_names[0]}}</a>.
            {% elif pokemon.evolution_ids|length == 2 %}
                <a href = "pokemon?id={{pokemon.evolution_ids[0]}}">{{pokemon.evolution_names[0]}}</a> and <a href = "pokemon?id={{pokemon.evolution_ids[1]}}">{{pokemon.evolution_names[1]}}</a>.
            {% else %}
                {% for i in range(pokemon.evolution_ids|length - 1) %}
                    <a href = "pokemon?id={{pokemon.evolution_ids[i]}}">{{pokemon.evolution_names[i]}}</a>, 
                {% endfor %}
                and <a href = "pokemon?id={{pokemon.evolution_ids[pokemon.evolution_ids|length - 1]}}">{{pokemon.evolution_names[pokemon.evolution_ids|length - 1]}}</a>.
            {% endif %}
        {% endif %}
    </p>
    <p>{{pokemon.description}}</p>
{% endmacro %}

{% macro pokemon_image(id, name) %}
    {% if id <= 931 %} {# only has gifs up to 931 #}
        <img class = "pokemon-image" src = "https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/pokemon/other/showdown/{{id}}.gif" alt = "An image of {{name}}">
    {% else %}
        <img class = "pokemon-image" src = "https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/pokemon/{{id}}.png" alt = "An image of {{name}}">
    {% endif %}
{% endmacro %}