{% macro display_member(member, is_leader) %}
    <li>
        <div class = "user-name">    
            {% if member.first_name and member.last_name %}
                {% if g.user.authenticated %}
                    {{member.first_name}} {{member.last_name}}
                {% else %}
                    {{member.first_name}} {{member.last_name[0]}}.
                {% endif %}
            {% elif member.email %}
                <span>{{member.email[:-22]|capitalize}} {{member.email[-22]|capitalize}}</span>
                <span data-tooltip = "This name might be inaccurate since this user never logged in.">
                    <span class = "material-symbol">info</span>
                </span>
            {% endif %}
        </div>
        <div class = "flex-space"></div>
        <span class = "membership-action material-symbol" {% if not is_leader or member.user_id == g.user.user_id %} style = "display: none;"{% endif %} data-action = "demote-leader" data-user-id = "{{member.user_id}}" data-tooltip = "Demote Leader">remove_moderator</span>
        <span class = "membership-action material-symbol" {% if is_leader %} style = "display: none;"{% endif %} data-action = "add-leader" data-user-id = "{{member.user_id}}" data-tooltip = "Add Leader">add_moderator</span>
        <span class = "membership-action material-symbol" {% if is_leader %} style = "display: none;"{% endif %} data-action = "kick-member" data-user-id = "{{member.user_id}}" data-tooltip = "Kick Member">person_remove</span>
        {% if g.user.authenticated %}
            <span class = "membership-action material-symbol" data-action = "copy-email" data-email = "{{member.email}}" data-tooltip = "{{member.email}}">contact_mail</span>
        {% endif %}
    </li>
{% endmacro %}

{% macro render_club_card(club) %}
    <div class = "club-card">
        <a href = "club?club_id={{club.club_id}}">
            <h2>{{club.name}}</h2>
        </a>
        <p>{{club.description}}</p>
        <div class = "flex-space"></div>
        <hr>
        <div class = "club-tags">
            {% for tag in club.tags %}
                <div class = "club-tag">{{tag.name}}</div>
            {% endfor %}
        </div>
        <div class = "card-info">
            <div class = "card-time">
                <span class = "material-symbol">event</span>
                <p>{{club.time}}</p>
            </div>
            <div>
                <span class = "material-symbol">location_on</span>
                <p>{{club.location}}</p>
            </div>
            <div class = "flex-space"></div>
            {% if not club.is_member %}
                <button type = "button" data-action = "join-club" data-club-id = "{{club.club_id}}" data-authenticated = "{{g.user.authenticated}}">
                    <span class = "button-label">Join Club</span>
                    <span class = "material-symbol">login</span>
                </button>
            {% elif not club.is_leader %}
                <button type = "button" data-action = "leave-club" data-club-id = "{{club.club_id}}" data-authenticated = "{{g.user.authenticated}}">
                    <span class = "button-label">Leave Club</span>
                    <span class = "material-symbol">logout</span>
                </button>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_meeting_card(meeting, is_leader, is_meeting, is_club_page) %}
    <div class = "meeting-card">
        {% if is_club_page %}
            <h2>{{meeting.title|e}}</h2>            
        {% else %}
            <a href = "club?club_id={{meeting.club_id}}">
                <h2>{{meeting.club_name}}</h2>
            </a>
            <h3>{{meeting.title|e}}</h3>
        {% endif %}
        <div class = "meeting-description">{{meeting.html_description}}</div>
        <hr>
        <div class = "card-info">
            {% if is_meeting %}
                <div>
                    <span class = "material-symbol">event</span>
                    <p>{{meeting.date.strftime("%A, %b %-d")}}</p>
                </div>
                <div>
                    <span class = "material-symbol">schedule</span>
                    {# convert meeting.start_time to string by concantenating with blank then remove seconds #}
                    <p>{{(meeting.start_time ~ "")[:-3]}} - {{(meeting.end_time ~ "")[:-3]}}</p>
                </div>
                <div>
                    <span class = "material-symbol">location_on</span>
                    <p>{{meeting.location}}</p>
                </div>
            {% else %}
                {% if is_club_page and (is_leader or g.user.is_admin) %}
                    <button type = "button" data-action = "email-meeting" data-club-id = "{{meeting.club_id}}" data-meeting-id = "{{meeting.meeting_id}}" data-meeting-title = "{{meeting.title|e}}" data-meeting-description = "{{meeting.clean_description|e}}">
                        <span class = "button-label">Email Announcement</span>
                        <span class = "material-symbol">mail</span>
                    </button>
                    <button type = "button" data-action = "delete-meeting" data-meeting-id = "{{meeting.meeting_id}}" data-club-id = "{{meeting.club_id}}">
                        <span class = "button-label">Delete Announcement</span>
                        <span class = "material-symbol">delete</span>
                    </button>
                {% endif %}
            {% endif %}
            <div class = "flex-space"></div>
            {% if is_meeting %}
                {% if is_club_page and (is_leader or g.user.is_admin) %}             
                    <button type = "button" data-action = "email-meeting" data-club-id = "{{meeting.club_id}}" data-meeting-id = "{{meeting.meeting_id}}" data-meeting-title = "{{meeting.title|e}}" data-meeting-description = "{{meeting.clean_description|e}}">
                        <span class = "button-label">Email Meeting</span>
                        <span class = "material-symbol">mail</span>
                    </button>
                    <button type = "button" data-action = "delete-meeting" data-meeting-id = "{{meeting.meeting_id}}" data-club-id = "{{meeting.club_id}}">
                        <span class = "button-label">Delete Meeting</span>
                        <span class = "material-symbol">delete</span>
                    </button>
                {% endif %}
            {% else %}
                <small>Posted on {{meeting.post_time.strftime("%A, %B %-d at %I:%M %p")}}</small>
            {% endif %}
        </div>
    </div>
{% endmacro %}
