{% macro display_name(person) %}
    {% if person.first_name and person.last_name %}
        {% if g.user.authenticated %}
            {{person.first_name}} {{person.last_name}}
        {% else %}
            {{person.first_name}} {{person.last_name[0]}}.
        {% endif %}
    {% elif person.email %}
        <span>{{person.email[:-22]|capitalize}} {{person.email[-22]|capitalize}}</span>
        <span data-tooltip = "This name might be inaccurate since this user never logged in.">
            <span class = "material-symbol">info</span>
        </span>
    {% endif %}
{% endmacro %}

{% macro render_club_card(club) %}
    <div class = "club-card">
        <a href = "club?id={{club.club_id}}">
            <h2>{{club.name}}</h2>
        </a>
        <p>{{club.description}}</p>
        <div class = "flex-space"></div>
        <hr>
        <div class = "club-tags">
            {% for tag in club.tags %}
                <div class = "club-tag">{{tag.name}}</div>
            {% endfor %}
        </div>
        <div class = "card-info">
            <div class = "card-time">
                <span class = "material-symbol">event</span>
                <p>{{club.time}}</p>
            </div>
            <div>
                <span class = "material-symbol">location_on</span>
                <p>{{club.location}}</p>
            </div>
            <div class = "flex-space"></div>
            {% if club.membership_type is none %}
                <span class = "material-symbol" data-action = "join-club" data-club-id = "{{club.club_id}}" data-authenticated = "{{g.user.authenticated}}" data-button = "Join Club">login</span>
            {% elif club.membership_type == 0 %}
                <span class = "material-symbol" data-action = "leave-club" data-club-id = "{{club.club_id}}" data-authenticated = "{{g.user.authenticated}}" data-button = "Leave Club">logout</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_meeting_card(meeting, is_meeting, is_club_page) %}
    <div class = "meeting-card">
        {% if is_club_page %}
            <h2>{{meeting.title|e}}</h2>            
        {% else %}
            <a href = "club?id={{meeting.club_id}}">
                <h2>{{meeting.club_name}}</h2>
            </a>
            <h3>{{meeting.title|e}}</h3>
        {% endif %}
        <div class = "meeting-description">{{meeting.description}}</div>
        <hr>
        <div class = "card-info">
            {% if is_meeting %}
                <div>
                    <span class = "material-symbol">event</span>
                    <p>{{meeting.date.strftime("%A, %b %-d")}}</p>
                </div>
                <div>
                    <span class = "material-symbol">schedule</span>
                    {# convert meeting.start_time to string by concantenating with blank then remove seconds #}
                    <p>{{(meeting.start_time ~ "")[:-3]}} - {{(meeting.end_time ~ "")[:-3]}}</p>
                </div>
                <div>
                    <span class = "material-symbol">location_on</span>
                    <p>{{meeting.location}}</p>
                </div>
            {% else %}
                <div>
                    {% if meeting.post_time is defined and meeting.post_time %}
                        <small>{{meeting.post_time.strftime("%A, %b %-d %I:%M %p")}}</small>
                    {% endif %}
                </div>
            {% endif %}
            <div class = "flex-space"></div>
            {% if is_club_page and (club.membership_type == 1 or g.user.is_admin) %}
                <span class = "material-symbol" data-action = "email-meeting" data-club-id = "{{club.id}}" data-meeting-id = "{{meeting.id}}" data-meeting-title = "{{meeting.title|e}}" data-meeting-description = "{{meeting.description_plain|e}}" data-button = "Email Meeting">mail</span>
                <span class = "material-symbol" data-action = "delete-meeting" data-meeting-id = "{{meeting.id}}" data-club-id = "{{club.id}}" data-button = "Delete Meeting">delete</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}
