{% extends "base.html.j2" %}

{% block title %}
    Upcoming Club Meetings
{% endblock %}

{% block body %}
    <div id = "meetings-list">
        <h1>Upcoming Club Meetings</h1>
        <div class = "tab-bar">
            <button type = "button" class = "tab-button is-active" data-tab-target = "meetings-panel">Meetings</button>
            <button type = "button" class = "tab-button" data-tab-target = "announcements-panel">Announcements</button>
        </div>
        <div class = "tab-panel" id = "meetings-panel">
            <div class = "tab-bar">
                <button type = "button" class = "tab-button is-active" data-tab-target = "meetings-all-panel">All Meetings</button>
                <button type = "button" class = "tab-button" data-tab-target = "meetings-yours-panel">Your Meetings</button>
            </div>
            <div class = "tab-panel" id = "meetings-all-panel">
                {% for meeting in meetings %}
                    {% if meeting.is_meeting %}
                        {{ macros.render_meeting_card(meeting, true, false) }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "tab-panel" id = "meetings-yours-panel" hidden>
                {% for meeting in meetings %}
                    {% if meeting.is_meeting and meeting.member_status == 1 %}
                        {{ macros.render_meeting_card(meeting, true, false) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class = "tab-panel" id = "announcements-panel" hidden>
            <div class = "tab-bar">
                <button type = "button" class = "tab-button is-active" data-tab-target = "announcements-all-panel">All Announcements</button>
                <button type = "button" class = "tab-button" data-tab-target = "announcements-yours-panel">Your Announcements</button>
            </div>
            <div class = "tab-panel" id = "announcements-all-panel">
                {% for meeting in meetings %}
                    {% if not meeting.is_meeting %}
                        {{ macros.render_meeting_card(meeting, false, false) }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "tab-panel" id = "announcements-yours-panel" hidden>
                {% for meeting in meetings %}
                    {% if not meeting.is_meeting and meeting.member_status == 1 %}
                        {{ macros.render_meeting_card(meeting, false, false) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
